
body{
    background:#093a75;
}

.main{
    margin-top: 100px;
    display:block;

}
#sign{
    color:#ffffff ;
    text-align: center;
}

#email{
     margin-left: 10px; 
    margin-right: 10px;
}

.tex{
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

#pass{
    margin-right: 10px;
    margin-left: 10px;
}

.reset {
    float:right; 
    color: #093a75;
    text-align: center;
}

#log{
    text-align: center;
    color: grey;
}

.container-main{
    background: #ffffff;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height: auto;
    padding:15px 30px 15px 20px ;
    color: grey;
    border-radius: 5px;
}

.logo-img{
    display: block;
    width: 100px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.search-input{
    display: block;
    width: 440px;
    margin:5px 10px 5px 10px ; 
    line-height: 24px;
    padding:5px 5px 5px 5px;
    border: 1px solid white;
    border-radius: 4px;
    background: grey;
}

.btn{
    margin:20px 10px 10px 10px;
    padding: 8px 16px 8px 16px;
    font-size: 14px;
    background: blue;
    width: 450px;
    border:1px solid #808080 ;
    border-radius: 4px;
    display: block;
    color: #ffffff;
}
    